    <div id="footer">
      <div class="container">
        <img id="footerlogo" src="{{ site.url }}{{ site.baseurl }}/assets/images/hacklab_fi_logo.png" alt="hacklab.fi logo"></img>
        {% if page.lang == 'fi' %}
          <p class="text-info">hacklab.fi – hackerspacet ja makerspacet Suomessa.</p><p class="text-info">Itsenäisten ja avointen työtilojen yhteistyöverkosto. Kaikki jäsenryhmämme ovat jäsentensä ylläpitämiä yleishyödyllisiä yhdistyksiä</p><p class="text-info">Ota meihin yhteyttä IRC-kanavalla #hacklab.fi Freenode-verkossa.</p>
        {% else %}
          <p class="text-info">hacklab.fi – hackerspaces and makerspaces in Finland.</p><p class="text-info">A co-operation network between independent and open workspaces. All our member groups are non-profit organizations operated by their members.</p><p class="text-info">You can contact us on IRC, channel #hacklab.fi in Freenode network.</p>
        {% endif %}
      </div>
    </div>