<div class="fullwidth" id="hacklabfi">
  <div class="container">
    {% if page.lang == 'fi' %}
    <h2>Yhteisölliset työtilat</h2>
    <p>Hacklab on paikka, jossa jokaisella on mahdollisuus oppia, rakentaa, suunnitella ja toteuttaa niitä asioita, joista on itse kiinnostunut. Hacklab on yhteisön ylläpitämä oma verstas. Toiminta perustuu vapaaehtoisuuteen, jakamiseen ja asioiden tekemiseen yksin tai yhdessä.</p>
    <p>Suomen hacklabit ovat osa kansainvälistä hackerspace-liikettä. Tavoitteenamme on monipuolisuus, ja työtilasta voikin löytyä puuverstas, metallipaja, elektroniikan korjaushuone tai vaikka luokkahuone koulutuksiin. Hacklabissa voit käyttää 3D-tulostimia, ompelukoneita tai oskilloskooppia, tai saada opastusta niiden käyttöön.</p>
    {% else %}
    <h2>Community workspace</h2>
    <p>Hacklab is a place, where anyone has a possibility to learn, build, plan and make those things, that interest most. Hacklab is maintained by its members. Running a hacklab is based on volunteering, sharing and doing things on your own or together</p>
    <p>Hacklabs in Finland are part of the global Hackerspace movement. Our aim is to build wide multipurpose workspaces, and you can find wood workshops, metal working room, electronics repair workbench or classrooms in hacklabs. You can use a 3D printer, sewing machine or oscilloscopes, or get introduction how to use them.</p>
    {% endif %}
  </div>
</div>