    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
          </button>
              {% if page.lang == 'fi' %}<a class="navbar-brand" href="{{ site.baseurl }}/index.html">hacklab.fi</a>
              {% else %}<a class="navbar-brand" href="{{ site.baseurl }}/index_en.html">hacklab.fi</a>{% endif %}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="http://discourse.hacklab.fi">Discourse Forum</a>
            </li>
            <li>
              {% if page.lang == 'fi' %}<a href="info.html">Hacklab?</a>
              {% else %}<a href="info_en.html">Hacklab?</a>{% endif %}
            </li>
            <li>
              {% if page.lang == 'fi' %}<a href="http://robotit.hacklab.fi">Robotit Strömbergin puistossa</a>
              {% else %}<a href="http://robotit.hacklab.fi/index_en.html">Robots in Strömbergin park</a>{% endif %}
            </li>


            <li>
              {% if page.lang == 'en' %}<a href="/index.html">Suomeksi</a>
              {% else %}<a href="/index_en.html">In English</a>{% endif %}
            </li>
          </ul>

        </div>
        <!--/.nav-collapse -->
      </div>

    </nav>