<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if page.lang == 'fi' %}<a class="navbar-brand" href="/index.html">hacklab.fi</a>
      {% else %}<a class="navbar-brand" href="/index_en.html">hacklab.fi</a>{% endif %}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          {% if page.lang == 'fi' %}<a href="https://discourse.hacklab.fi">Discourse-Foorumi</a>
          {% else %}<a href="https://discourse.hacklab.fi">Discourse Forum</a>{% endif %}
        </li>
        <li>
          {% if page.lang == 'fi' %}<a href="https://matrix.to/#/#general:hacklab.fi">Matrix-keskustelukanava</a>
          {% else %}<a href="https://matrix.to/#/#general:hacklab.fi">Matrix Chat Room</a>{% endif %}
        </li>
        <li>
          {% if page.lang == 'fi' %}<a href="/info.html">Hacklab?</a>
          {% else %}<a href="/info_en.html">Hacklab?</a>{% endif %}
        </li>
        <li>
          {% if page.lang == 'fi' %}<a href="/hacklab_ry.html">Kattojärjestö</a>
          {% else %}<a href="/hacklab_ry_en.html">Umbrella organisation</a>{% endif %}
        </li>
        <li>
          {% if page.lang == 'fi' %}<a href="https://robotit.hacklab.fi">Robotit Strömbergin puistossa</a>
          {% else %}<a href="https://robotit.hacklab.fi/index_en.html">Robots in Strömberg park</a>{% endif %}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if page.lang == 'en' %}<a href="/index.html">Suomeksi</a>
          {% else %}<a href="/index_en.html">In English</a>{% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
