<!-- this post include -->
<article class="post post-decorative clearfix">
  <img src="{{ site.url }}{{ site.baseurl }}/posts_images/{{ this_post.image }}" alt="Kuvituskuva" class="post-image" />
  <h2 class="post-title"><a href="{{ this_post.url | relative_url }}">{% if page.lang == 'en' and this_post.translation_en %}{{ this_post.translation_title_en }}{% else %}{{ this_post.title | escape }}{% endif %}</a></h2>
  <span class="post-meta">{{ this_post.date | date: "%-d %B %Y" }}</span>
  {% if page.lang == 'en' and this_post.translation_en %}<p>{{ this_post.translation_en | strip_html | truncatewords: 50}} ...</p>{% else %}{{ this_post.excerpt}}{%if this_post.content != this_post.excerpt %} ...{% endif %}{% endif %}
  <p class="read-more">
    <a class="btn btn-default" href="{{ this_post.url | relative_url }}" role="button">{% if page.lang == 'fi' %}Lue lis&#xE4;&#xE4;{% else %}Read more{% endif %}</a>
  </p>
</article>
