---
layout: default
lang: fi
---

{% for k in site.data.kaupungit %}
  <div class="post clearfix" id="{{ k.id }}">
    {% if k.logo %}<img class="city-logo" src="/assets/images/logos/{{ k.logo }}" alt="{{ k.kaupunki }} logo" class="hidden-xs" />{% endif %}
    <h2>{{ k.kaupunki }}
    {% if k.status == 'active' %}
      <span class="city-status">aktiivinen</span>
    {% elsif k.status == 'building' %}
      <span class="city-status">perustamisvaiheessa</span>
    {% elsif k.status == 'idea' %}
      <span class="city-status">idea perustamisesta</span>
    {% elsif k.status == 'restructuring' %}
      <span class="city-status">vaihtelevat tapaamiset</span>
    {% endif %}</h2>
    {% if k.osoite %}<p>{% if k.osm_node %}<a href="https://www.openstreetmap.org/node/{{ k.osm_node }}">{% endif %}{{ k.osoite }}{% if k.osm_node %}</a>{% endif %}{% endif   %}
    {% if k.url and k.url contains '://' %}<p><a href="{{ k.url }}">{{ k.url }}</a></p>{% endif %}
    <p>{{ k.txt }}</p>
  </div>
{% endfor %}

<div class="post">
  <h2>Puuttuuko oma asuinpakkasi listalta?</h2>
  <p>Kysy meiltä miten voimme auttaa uuden hacklabin perustamisessa! Esittäydy discoursessa, keskustele Matrixissa tai käytä somea – voimme auttaa viestin levittämisessä.</p>
  <p>Osallistu keskusteluun <a href="https://riot.im/app/#/room/#general:hacklab.fi">#general:hacklab.fi</a> -kanavalla Matrixissa tai #hacklab.fi-kanavalla irkissä (IRCnet) 
    ja lähde toteuttamaan uutta hacklabia omalle alueellesi!</p>
</div>
