---
og_image_prefix: posts_images/
layout: default
header: n
---

{% include blog_title.html %}

<div class="post post-decorative clearfix">
  <img src="/posts_images/{{ page.image }}" alt="Kuvituskuva" class="post-image" />
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-meta">{{ post.date | date: date_to_string }}</span>
  {{ content }}
  {% if page.translation_en %}
    <hr/>
    {% if page.translation_title_en %}<h3 class="translation-en">{{page.translation_title_en }}</h3>{% endif %}
    <p class="translation-en">{{ page.translation_en }}</p>
  {% endif %}
  <span class="post-meta">{{ page.date | date: "%-d %B %Y" }}</span>
</div>
