---
og_image_prefix: posts_images/
layout: default
header: n
lang: en
---

{% include blog_title.html %}

<article class="post post-decorative clearfix">
  {% assign post_fi= site.posts | where: "lang",'fi' | first %}
  {% assign post_en= site.posts | where: "lang",'en' | first %}

  {% comment %}OTETAAN KÄYTTÖÖN MYÖHEMMIN?{% for tag in post_fi.tags %}<span class="post-meta">#{{tag}}</span>{% endfor %}</span>{% endcomment %}

  {% if page.lang=='fi' and post_fi %}<span class="post-meta"><a href="{{post_en.url}}">Read in English</a></span>{% endif %}
  {% if page.lang=='en' and post_en %}<span class="post-meta"><a href="{{post_fi.url}}">Lue suomeksi</a></span>{% endif %}

  <a class="btn btn-default" href="{{ site.baseurl }}/index.html" role="button">Etusivulle</a>
</article>